name: my first workflow

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Setup Go environment
      uses: actions/setup-go@v6.2.0
      with:
        go-version: '1.23.3'
        cache-dependency-path: my-dazl-project/go.sum
    - name: Build Go My-dazl-project
      run: go build -v ./...
      working-directory: ./my-dazl-project

    - name: Prepare artifacts
      run: |
        mkdir -p publish_output
        cp my-dazl-project/my-dazl-project publish_output/

    - name: Upload artifacts
      uses: actions/upload-artifact@v6.0.0
      with:
        name: my-dazl-project
        path: publish_output
